$blue: #3190e8;
$bc: #e4e4e4;
$fc: #fff;
//宽高 16px = 1rem;
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

//字体大小，颜色
@mixin sc($size, $color) {
	font-size: $size;
	color: $color;
}

// 背景图片地址和大小
@mixin bis($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

// 圆弧大小
@mixin borderRadius($radius) {
	border-radius: $radius;
}

//定位全屏
@mixin allcover {
	position: absolute;
	top: 0;
	right: 0;
}

// 居中
@mixin center {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//定位左右居中
@mixin cl {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
	font: #{$size}/#{$line-height} $family;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
	display: flex;
	justify-content: $type;
}
// 省略字符串
@mixin ellipse {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
// 上下border
@mixin tdb($size, $color) {
	border-top: $size solid $color;
	border-bottom: $size solid $color;
}
