.shoplist-container {
  background-color: $fc;
  bottom: 2rem;
  .shop-list {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.7rem 0.5rem;
    .shop-img {
      display: block;
      margin-right: .4rem;
      @include wh(2.7rem, 2.7rem);
    }
  }
  .shop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    .shop-detail-head {
      @include fj;
      align-items: center;
    }
    .shop-title {
      width: 6.5rem;
      @include font(0.65rem, 0.65rem, 'PingFangSC-Regular');
      @include ellipse;
      &::before {
        content: '品牌';
        display: inline;
        background-color: #ffd930;
        padding: 0 .1rem;
        margin-right: .2rem;
        @include sc(.5rem, #333);
      }
    }
    ul {
      display: flex;
      transform: scale(.8);
    }
    li {
      @include sc(0.5rem, #999);
      margin-right: 0.05rem;
      padding: 0.04rem;
    }
  }
  .shop-rating {
    @include fj;
    align-items: center;
    .rate-left {
      display: flex;
      @include sc(.4rem, #333);
    }
    .rating-num {
      @include sc(.4rem, #ff9a0d);
      margin-left: .2rem;
    }
    .shop-mmouth-order {
      transform: scale(.8);
    }
    svg {
      @include wh(.5rem, .5rem);
    }
  }
  .rate-right {
    // position: relative;
    // left: .58rem;
    display: flex;
    justify-content: flex-end;
    font-size: .4rem;
    min-width: 5rem;
    transform: scale(.7);
    margin-right: -0.5rem;
    span {
      // display: inline-block;
      padding: .03rem .2rem 0;
    }
    span:nth-of-type(1) {
      background-color: $blue;
      color: $fc;
      border-radius: .08rem;
    }
    span:last-child {
      border: 0.025rem solid $blue;
      border-radius: .1rem;
      margin-left: .2rem;
    }
  }
  .shop-distance {
    @include fj;
    align-items: center;
    .distance-left{
      display: flex;
    }
    span{
      @include sc(.4rem, #999);
      transform: scale(.9);
    }
    .distance-right{
      display: flex;
      span:last-child{
        color: $blue;
      }
    }
  }
}